{% extends 'base/base.html' %}
{% load static %}

{% block title %}Detail Traiteur{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/detail_trai.css' %}">
{% endblock %}

{% block content %}

    <!-- ======================= SECTION PRESENTATION ======================== -->
     <section>
        <div class="presentation"> 
            <div class="coule"></div>
            <div class="p">
                <p class="el1"><i class="fa-solid fa-star"></i> 0.0/5</p>
                <p class="el2"><i class="fa-solid fa-circle-check"></i>Verifier</p>
            </div>
        </div>
     </section>
    <!-- ======================= SECTION CORPS ======================== -->
     <section>
        <div class="corp">
            <div class="corp-gauche">
                <div class="corp-gauche-item">
                    <h3>A propos</h3>
                    <p>Nam ex Nulla similinq</p>
                </div>
                <div class="corp-gauche-item">
                    <h3>Sepecialite</h3>
                    <p><span class="lang">Francais</span> <span class="lang">Indien</span></p>
                </div>
                <div class="corp-gauche-item">
                    <h3>Services proposés</h3>
                    <div class="cor-p">
                        <p><i class="fa-solid fa-check"></i>Mariage</p>
                        <p><i class="fa-solid fa-check"></i>Cocktails</p>
                        <p><i class="fa-solid fa-check"></i>Anniversaire</p>
                        <p><i class="fa-solid fa-check"></i>Cuisine sur mesure</p>
                    </div>
                </div>
            </div>
            <div class="corp-droite">
                <div class="corp-droite-item">
                    <h3>Contact</h3>
                    <p><i class="fa-solid fa-location-dot"></i> Minima eum aliquip a</p>
                    <p><i class="fa-solid fa-phone"></i>+1 (684) 758-7777</p>
                    <p><i class="fa-solid fa-envelope"></i>dss@ds.ds</p>
                    <p></p>
                </div>
                <div class="corp-droite-item">
                    <h3>Experience</h3>
                    <p><i class="fa-solid fa-calendar"></i>1979 ans d'experience</p>
                </div>
                <div class="corp-droite-item">
                    <h3>Langues parlees</h3>
                    <p><span class="lang">Francais</span> <span class="lang">Indien</span> <span class="lang">Arabe</span></p>
                </div>
                <div class="corp-droite-item" id="cor-dr-but">
                    <div class="buttons">
                        <button><i class="fa-solid fa-phone"></i> Contact</button>
                    </div>
                </div>
            </div>
        </div>
     </section>

{% endblock %}