* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: #eae3e3;
    display: flex;
}
button{
    cursor: pointer;
}
/* ================================ SIDEBAR ================================= */
aside{
    width: 17%;
    background-color: #a53a00;
    padding: 1em;
    position: fixed;
}
aside .element-lien{
    margin-bottom: 14em;
}
aside .image{
    width: 50%;
    height: 10vh;
    margin-bottom: 1em;
}
aside .image img{
    width: 100%;
    height: 100%;
}
.element-lien ul li{
    padding: 0.7em;
    cursor: pointer;
}
.element-lien ul li a, .element-bas ul li a{
    color: #f6ec2b;
}
.element-lien ul li i, .element-bas ul li i{
    margin-right: 1em;
    color: #f6ec2b;
}
.element-lien ul li:hover, .element-bas ul li:hover{
    background-color: #9d4c20;
    border-radius: 0.5em;
}
.element-lien ul li:nth-child(4){
    background-color: #431902;
    border-radius: 0.5em;
}
.element-bas{
    position: relative;
    right: 1em;
    cursor: pointer;
}
.element-bas ul li{
    border-top: 1px solid rgb(254, 62, 14);
    width: 116.6%;
    padding-top: 0.7em;
    padding-left: 0.7em;
    padding-bottom: 0.7em;
}
.element-bas ul li a{
    color: #e0e0e0;
}

/*  ==================================== CORPS ============================== */
main{
    width: 83%;
    padding: 3em 5em;
    margin-left: 15em;
}
.contenu-total{
    width: 100%;
}
.haut-premier{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.haut-premier a button{
    background-color: #a53a00;
    color: white;
    padding: 0.6em 1em;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}


/* =========== FILTRE */
.zone{
    width: 100%;
    margin: auto;
    background-color: white;
    padding: 1.3em;
    margin-top: 1.3em;
    margin-bottom: 1.3em;
    border-radius: 5px;
    box-shadow: 5px 5px 30px rgb(0, 0, 0, 0.1);
}
.liste-zone select{
    width: 90%;
    padding: 0.5em;
    border-radius: 5px;
    background-color: white;
}
.zone p{
    margin-bottom: 0.8em;
}
.liste-zone button{
    padding: 0.7em 1.3em;
    background-color: #a53a00;
    border-radius: 5px;
    margin-left: 1em;
    border: none;
    color: white;
}

/* ============== TABLE */
table {
  border-collapse: collapse;
  width: 100%;
  font-size: 0.8em;
}
table thead tr{
    background-color: rgb(216, 216, 216);
    border-radius: 10px 10px 0px 0px;
}
table thead{
    margin-bottom: 1em;
    border-radius: 10px 10px 0px 0px;
}
tr{margin-bottom: 2em;}
tbody tr{
    background-color: white;
}
td{
    padding: 1em;
}

table tbody tr td img{
    width: 2em;
    height: 2em;
    border-radius: 50%;
    margin-right: 1em;
}
.im_nom {
    display: flex;
    align-items: center;
}

tr{
    border-bottom: 7px solid #eae3e3;

}
#statut-en-at{
    color: #a53a00;
    background-color: #f6ec2b;
    border-radius: 10px;
    padding: 0.4em;
    font-weight: bold;
}
#statut-ver{
    color: #365600;
    background-color: #a0e662;
    border-radius: 10px;
    padding: 0.4em;
    font-weight: bold;
}
.modif a{
    color: blue;
    margin-right: 0.5em;
}
.suppr a{
    color: red;
}


















