* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: #fcecb9;
}
/* ============================ SECTION HEADER =============================== */
header{
    background-color: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    position: sticky;
    top: 0;
    z-index: 10;
}

.logo img{
    width: 100px;
    height: 50px
}

.header-lien{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-lien a{
    margin-left: 50px;
    color: black;
    text-decoration: none;
    font-weight: bold;
}
.header-lien a:hover{
    color: #E65100;
    text-decoration: underline solid 2px #E65100;
    transition: 0.5s;
}
.connexion-btn , .incription-btn{
    padding: 10px 20px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
.incription-btn a{
    color: black;
    text-decoration: none;
}
.header-buttons button:hover{
    color: #ffffff;
    background-color: #E65100;
    transition: 0.5s;
}
.incription-btn:hover{
    transform: rotate(10deg);
}
.connexion-btn:hover{
    transform: rotate(-10deg);
}
/* ================================= SECTION PRESENTATION ======================= */
.presentation{
    background-image: url(image/salade_1.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    border-radius: 20px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}
.coule{
    position: absolute;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border-radius: 20px;
    height: 400px;
    background-color: #020011;
    opacity: 0.2;
    mix-blend-mode: multiply;
}
.presentation .p{
    display: flex;
    position: absolute;
    bottom: 2em;
    left: 2em;
}
.presentation .el1{
    margin-right: 1em;
    color: white;
}
.presentation .el1 i{
    color: yellow;
}
.presentation .el2 i{
    color: rgb(41, 123, 0);
}
.presentation .el2{
    color: white;
}

/*   ======================= SECTION CORPS ========================  */

.corp{
    margin-bottom: 2em;
    width: 95%;
    border-radius: 0.4em;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}
.corp-gauche {
    width: 60%;
}
.corp-gauche .corp-gauche-item{
    background-color: white;
    box-shadow: 5px 5px 30px rgb(0, 0, 0, 0.1);
    width: 100%;
    padding-top: 2em;
    padding-bottom: 2em;
    padding-left: 0.8em;
    border-radius: 10px;
    margin-bottom: 2em;
}
.corp-gauche .corp-gauche-item h3{
    padding-bottom: 1em;
}

.corp-droite {
    width: 40%;
    margin-left: 1em;
}
.corp-droite .corp-droite-item{
    background-color: white;
    box-shadow: 5px 5px 30px rgb(0, 0, 0, 0.1);
    width: 100%;
    padding-top: 2em;
    padding-bottom: 2em;
    padding-left: 0.8em;
    border-radius: 10px;
    margin-bottom: 2em;
}

.corp-droite .corp-droite-item h3{
    padding-bottom: 1em;
}
.cor-p{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.cor-p p{
    padding-bottom: 1em;
}
.cor-p p i{
    color: green;
}
.corp-droite-item p{
    margin-bottom: 1em;
}
.corp-droite-item p{
    margin-bottom: 1em;
}
.corp-droite-item p i{
    margin-right: 0.8em;
}
.corp-droite-item .buttons{
    width: 60%;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
}
.corp-droite-item .buttons button{
    padding: 0.6em;
   width: 100%;
   border-radius: 8px;
   color: white;
   background-color: blue;
   border: none;
   cursor: pointer;
   font-size: 17px;
}
#cor-dr-but{
    background-color: white;
    box-shadow: 5px 5px 30px rgb(0, 0, 0, 0.1);
    width: 100%;
    padding-top: 2em;
    padding-bottom: 2em;
    padding-left: 0.8em;
    border-radius: 10px;
    margin-bottom: 0.3em;
}
.lang{
    padding: 8px 10px;
    background-color: rgb(219, 224, 227);
    border-radius: 10px;
}










/* =========================== SECTION FOOTER ============================ */
footer{
    height: 370px;
    background-color: #020011;
    list-style: none;
}

footer .element {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px;
}
footer .element .footer-item span{
    color: #f3f3f3;
    font-size: 15px;
    font-weight: bold;
    padding-bottom: 20px;
}
footer .element .footer-item p{
    color: #f3f3f3;
    font-size: 15px;
    font-weight: bold;
    padding-bottom: 20px;
}
footer .element ul li a{
    color: #bdb68d;
    text-decoration: none;
    font-size: 15px;
}
footer .element ul li {
    color: #bdb68d;
    text-decoration: none;
    font-size: 18px;
    padding-top: 15px;
}
footer .icone {
    display: flex;
    font-size: 20px;
    margin-left: 73.5%;
    padding-bottom: 30px;
}
footer .icone ul li a i{
    color: #9e8f8f;
}
footer .copyright{
    color: #9e8f8f;
    text-align: center;
}
footer hr {
    width: 83%;
    margin: auto;
    background-color: #9e8f8f;
    
}