* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: #ebd9a0;
}
/* ============================ SECTION HEADER =============================== */
header{
    background-color: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    position: sticky;
    top: 0;
    z-index: 10;
}

.logo img{
    width: 100px;
    height: 50px
}

.header-lien{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-lien a{
    margin-left: 50px;
    color: black;
    text-decoration: none;
    font-weight: bold;
}
.header-lien a:hover{
    color: #E65100;
    text-decoration: underline solid 2px #E65100;
    transition: 0.5s;
}
#head-panier a{
    color: white;
    background-color: #E65100;
    padding: 10px 20px;
    border-radius: 5px;
}
.connexion-btn{
    padding: 10px 20px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
.incription-btn {
    padding: 10px 20px;
    font-weight: bold;
    color: white;
    border: none;
    background-color: #E65100;
    border-radius: 8px;
    cursor: pointer;
}

.header-buttons button:hover{
    color: #ffffff;
    background-color: #E65100;
    transition: 0.5s;
}
.incription-btn:hover{
    transform: rotate(10deg);
}
.connexion-btn:hover{
    transform: rotate(-10deg);
}
/* ================================= SECTION PRESENTATION ======================= */
.presentation{
    background-image: url(image/banner-caterers.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.coul{
    background-color: #61290a;
    position: absolute;
    opacity: 0.7;
    height: 300px;
    mix-blend-mode: multiply;
    width: 100%;    
}

.ecriture-presention{
    color: #ffffff;
    position: relative;
    width: 50%;
    margin-left: 250px;
}

.presentation .ecriture-presention h2{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10px;
}
.presentation .ecriture-presention h2 span{
    color: #e6c400;
}
.presentation .ecriture-presention p{
    font-size: 18px;
    color: #f3e461;
    margin-bottom: 10px;
    text-align: left;
    z-index: 5;

}
.image-thieb{
    position: absolute;
    right: 100px;
    display: flex;
    text-align: center;
    flex-direction: column;
}

.image-thieb img{
    width: 450px;
    height: 300px;
    border-radius: 30px;

    
}
.image-thieb p{
    position: absolute;
    right: 15px;
    top: 18px;
    padding: 5px 10px;
    background-color: rgba(255, 255, 255, 0.6);
    color: #ca4b07;
    font-weight: bold;
    width: 250px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.image-thieb p img{
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

/*  =========================== SECTION INSCRIPTION ============================  */
.inscrption-t{
    height: 207vh;
    background-color: white;
    width: 70%;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 6em 9em;
    border-radius: 2px;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
}
form{
    height: 400px;
}
/* ======== information de base */
.information-base{
    background-color: white;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 10px;
}
.information-base h3{
    padding-bottom: 30px;
}


.label-input {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px 40px;
}

.label-input-item {
    display: flex;
    flex-direction: column;
}

.label-input-item label {
    font-size: 14px;
    margin-bottom: 6px;
    color: #444;
}

.label-input-item input {
    padding: 10px 12px;
    border-radius: 6px;
    border: 1px solid #ddd;
    font-size: 14px;
}

/* =========== Informations professionnelles */
.information-professionnelle{
    background-color: white;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 10px;
}

.information-professionnelle h3{
    padding-bottom: 30px;
}
.info-pro-1 select {
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ddd;
    font-size: 14px;
    width: 100%;
}
.info-pro-1 input {
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ddd;
    font-size: 14px;
    width: 100%;
}
.info-pro-1 textarea{
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ddd;
    font-size: 14px;
    width: 100%;
}
.info-pro-1 textarea{
    height: 100px;
}
.info-pro-1 label{
    font-size: 14px;
    margin-bottom: 6px;
    color: #444;
}


.serv-pro{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-left: 0px;
}
.serv-pr-item{
    display: flex; 
}
.serv-pr-item input{
    margin-right: 10px;
}

/* ================= Informations de contact */
.information-contact{
    background-color: white;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px 20px;
    margin-bottom: 10px;
}
.information-contact h3{
    padding-bottom: 30px;
}
.info-con{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}
.info-con-item input{
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ddd;
    font-size: 14px;
    width: 100%;
}
/* ========================== photo de profile */
.photo-profile {
    background-color: white;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px 20px;
    margin-bottom: 10px;
}
.photo-profile h3{
    padding-bottom: 30px;
}
.photo-profile input{
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ddd;
    font-size: 14px;
}

form button{
    padding: 10px 20px;
    background-color: #E65100;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-left: 86%;
}
.photo-profile input{
    border: transparent;
    width: 100%;
}
.photo-profile input::file-selector-button {
    color: #E65100;
    border: none;
    background-color: rgb(255, 255, 179);
    cursor: pointer;
    font-size: 1.3em;
    padding: 10px;
    font-weight: bold;
    border-radius: 10px;
    margin-right: 0.7em;
    border: transparent;

}

/* =========================== SECTION FOOTER ============================ */
footer{
    height: 370px;
    background-color: #020011;
    list-style: none;
}

footer .element {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px;
}
footer .element .footer-item span{
    color: #f3f3f3;
    font-size: 15px;
    font-weight: bold;
    padding-bottom: 20px;
}
footer .element .footer-item p{
    color: #f3f3f3;
    font-size: 15px;
    font-weight: bold;
    padding-bottom: 20px;
}
footer .element ul li a{
    color: #bdb68d;
    text-decoration: none;
    font-size: 15px;
}
footer .element ul li {
    color: #bdb68d;
    text-decoration: none;
    font-size: 18px;
    padding-top: 15px;
}
footer .icone {
    display: flex;
    font-size: 20px;
    margin-left: 73.5%;
    padding-bottom: 30px;
}
footer .icone ul li a i{
    color: #9e8f8f;
}
footer .copyright{
    color: #9e8f8f;
    text-align: center;
}
footer hr {
    width: 83%;
    margin: auto;
    background-color: #9e8f8f;
    
}