* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
:root {
    --primary: black;
    --secondary: #FFD700;
    --card: rgb(199, 197, 197);
}
body{
    background-color: var(--primary);
}

h1 , h3{
    color: var(--secondary);
    margin-bottom: 0.8em;
}
section p{
    color: var(--card);
}
/* button{
    background-color: var(--secondary);
    color: var(--primary);
    padding: 0.6rem 1rem;
    border-radius: 10px;
    font-weight: bold;
    border: none;
    cursor: pointer;
} */
/* ============================ HEADER ================================ */
header{
    width: 100%;
    background-color: var(--primary);
    z-index: 100;
    position: sticky;
    top: 0;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.3em;
    
}
header nav .section ul{
    display: flex;
    justify-content: space-between;
}
header nav .logo h2{
    margin-left: 5em;
    font-size: 1.4em;
    color: var(--secondary);
}
header nav .section ul .section-item{
    margin-right: 3em;
    font-size: 1.4em;
}
header nav .section ul .section-item a{
    color: var(--secondary);
}

/*  ============================ A PROPOS ================================  */
.apropos{
    background-image: url(image/hero-porto.webp);
    background-position: center;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    height: 35em;
    width: 100%;
    position: relative;
    text-align: center;
    padding-top: 1em;
}
.coulor{
    position: absolute;
    z-index: 2;
    opacity: 0.6;
    mix-blend-mode: multiply;
    background-color: var(--primary);
    height: 36em;
    width: 100%;
}
.apropos .image-porto{
    background-image: url(image/tengen.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 3;
    width: 20em;
    height: 20em;
    border-radius: 100%;
    margin: auto;
}


.apropos .ecriture h1{
    font-size: 5em;
    z-index: 3;
    position: relative;
}
.apropos .ecriture p{
    font-size: 2em;
    z-index: 3;
    position: relative;
    color: var(--secondary);
}
/*  ============================ COMPETENCE ================================  */
.competence{
    margin-top: 2em;
    width: 100%;
    padding-bottom: 2em;
}
.comp-item{
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    gap: 3em;
    margin: auto;
}
.competence h1{
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 1em;
}
.competence-item{
    width: 80%;
    padding: 1.3em;
    font-size: 1.3em;
    box-shadow: 5px 5px 20px rgba(252, 250, 250, 0.3);
    border-radius: 10px;
    margin: auto;
}

section p{
    color: var(--card);
    z-index: 3;
}


/*  ============================ PROJET ================================  */
.projet{
    margin-top: 2em;
    margin-bottom: 2em;
    width: 100%;
}
.projet-card{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3em;
}
.projet-item{
    width: 90%;
    height: 10em;
    margin: auto;
    padding: 1.3em;
    position: relative;
    height: 10em;
    font-size: 1.3em;
    box-shadow: 5px 5px 20px rgba(252, 250, 250, 0.3);
    border-radius: 10px;

}
.projet .projet-card .projet-item button{
    background-color: var(--secondary);
    color: var(--primary);
    padding: 0.6rem 1rem;
    border-radius: 10px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    margin-top: 1em;
}
.projet-item:nth-child(1){
    background-image: url(image/banner-caterers.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.projet-item:nth-child(2){
    background-image: url(image/salade_1.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.projet-item:nth-child(3){
    background-image: url(image/banner-head-accueil.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.projet-item:nth-child(4){
    background-image: url(image/thieboudieunerouge.JPG);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.coull{
    background-color: var(--primary);
    height: 100%;
    width: 100%;
    opacity: 0.9;
    inset: 0;
    z-index: 1;
    position: absolute;
}
.projet h1{
    margin-left: 1em;
}
.projet-item h3,
.projet-item p,
.projet-item button{
    position: relative;
    z-index: 3;
}




















/*  ============================ A PROPOS ================================  */























/*  ============================ A PROPOS ================================  */


























/*  ============================ A PROPOS ================================  */

















