* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: #ebd9a0;
}
/* ============================ SECTION HEADER =============================== */
header{
    background-color: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    position: sticky;
    top: 0;
    z-index: 10;
}

.logo img{
    width: 100px;
    height: 50px
}

.header-lien{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-lien a{
    margin-left: 50px;
    color: black;
    text-decoration: none;
    font-weight: bold;
}
.header-lien a:hover{
    color: #E65100;
    text-decoration: underline solid 2px #E65100;
    transition: 0.5s;
}
#head-panier a{
    color: white;
    background-color: #E65100;
    padding: 10px 20px;
    border-radius: 5px;
}
.connexion-btn , .incription-btn {
    padding: 10px 20px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
.incription-btn a{
    color: black;
    text-decoration: none;
}
.header-buttons button:hover{
    color: #ffffff;
    background-color: #E65100;
    transition: 0.5s;
}
.incription-btn:hover{
    transform: rotate(10deg);
}
.connexion-btn:hover{
    transform: rotate(-10deg);
}
/* ================================= SECTION PRESENTATION ======================= */
.presentation{
    background-image: url(image/banner-caterers.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.coul{
    background-color: #61290a;
    position: absolute;
    opacity: 0.7;
    height: 500px;
    mix-blend-mode: multiply;
    width: 100%;    
}

.ecriture-presention{
    color: #ffffff;
    position: relative;
    width: 50%;
    margin-left: 350px;
}

.presentation .ecriture-presention h2{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10px;
}
.presentation .ecriture-presention h2 span{
    color: #e6c400;
}
.presentation .ecriture-presention p{
    font-size: 18px;
    margin-bottom: 10px;
    text-align: left;
    z-index: 5;

}
.image-thieb{
    position: absolute;
    right: 100px;
    display: flex;
    text-align: center;
    flex-direction: column;
}

.image-thieb img{
    width: 450px;
    height: 300px;
    border-radius: 30px;

    
}
.image-thieb p{
    position: absolute;
    right: 15px;
    top: 18px;
    padding: 5px 10px;
    background-color: rgba(255, 255, 255, 0.6);
    color: #ca4b07;
    font-weight: bold;
    width: 250px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.image-thieb p img{
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

/* ========================= PRODUIT ======================= */
.filre{
    display: flex;
    align-items: center;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 5em;
    width: 70%;
}
.filtre-item{
    display: grid;

}

.item button i:nth-child(1){
    border: #f3f3f3;
}
.item button i:nth-child(2){
    color: #000000;
    padding-right: 8px;
}
.filre h2 {
    margin-right: 10em;
}

.item {
  margin-left: 30px;
}

.item:nth-child(3) { grid-column: 1; }
.item:nth-child(4) { grid-column: 2; }
.item:nth-child(5) { grid-column: 3; }
.item:nth-child(6) { grid-column: 4; }

.filtre-item .item select{
    margin-top: 2px;
    color: #010208;
    background-color: white;
    padding: 8px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    border: #9e8f8f 2px solid;
    box-shadow: 5px 5px 30px rgb(0, 0, 0, 0.1);
}

.item:nth-child(6) button{
    margin-top: 2px;
    color: #010208;
    background-color: white;
    padding: 8px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    border: #9e8f8f 2px solid;
    box-shadow: 5px 5px 30px rgb(0, 0, 0, 0.1);
}
.item:nth-child(5) button{
    margin-top: 2px;
    color: white;
    background-color: #E65100;
    padding: 8px 12px;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
}

/* ============== CARDS DES PRODUITS */
.card-produit{
    display: flex;
    background-color: white;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    height: 170px;
    width: 70%;
    box-shadow: 5px 5px 30px rgb(0, 0, 0, 0.1);
}
.card-produit-image{
    height: 170px;
    width: 30%;
}
.card-produit-image img{
    height: 170px;
    width: 100%;
    border-radius: 10px 0px 0px 10px;
}
.card-produit-item-milieur{
    padding: 10px;
    margin-right: 30px;
}
.card-produit-item-milieur p{
    padding-bottom: 10px;
    color: #332f2f;
}
.card-produit-item-droite{
    padding: 10px;
    margin-left: 34%;
}
.fin-card-1{
    margin-bottom: 100px;
}
.fin-card-1 i , .fin-card-2 i{
    color: #e6c400;
}
.fin-card-2 button{
    padding: 5px 10px;
    background-color: #010208;
    color: #f3f3f3;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}
.Specialites{
    font-weight: bold;
}
.lang p{
    padding: 5px 10px;
    border-radius: 5px;
    opacity: 0.1;
}
.lang{
    background-color: #9e8f8f;
    
    padding: 5px 10px;
    border-radius: 5px;

}
.verifier p{
    position: absolute;
    left: 25em;
    padding: 5px;
    bottom: 250;
    border-radius: 10px;
    color: rgb(1, 29, 1);
    background-color: rgb(83, 172, 83);

}

/* =========================== SECTION COMMENCER ============================ */
.commence{
    height: 240px;
    background-image: url(image/banner-head-accueil.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
.commence h2{
    font-size: 30px;
    font-weight: bold;
    z-index: 5;
    position: relative;
}
.commence p{
    padding-bottom: 30px;
    z-index: 5;
    position: relative;
}
.commence button{
    padding: 20px 30px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    color: #ca4b07;
    font-weight: bold;
    z-index: 10;
    position: relative;
}
.coul-commence{
    background-color: #61290a;
    position: absolute;
    overflow: hidden;
    opacity: 1;
    mix-blend-mode: multiply;
    top: 0;
    left: 0;
    height: 240px;
    width: 100%;
    z-index: 1;
}
/* =========================== SECTION FOOTER ============================ */
footer{
    height: 370px;
    background-color: #010208;
    list-style: none;
}

footer .element {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px;
}
footer .element .footer-item span{
    color: #f3f3f3;
    font-size: 15px;
    font-weight: bold;
    padding-bottom: 20px;
}
footer .element .footer-item p{
    color: #f3f3f3;
    font-size: 15px;
    font-weight: bold;
    padding-bottom: 20px;
}
footer .element ul li a{
    color: #bdb68d;
    text-decoration: none;
    font-size: 15px;
}
footer .element ul li {
    color: #bdb68d;
    text-decoration: none;
    font-size: 18px;
    padding-top: 15px;
}
footer .icone {
    display: flex;
    font-size: 20px;
    margin-left: 73.5%;
    padding-bottom: 30px;
}
footer .icone ul li a i{
    color: #9e8f8f;
}
footer .copyright{
    color: #9e8f8f;
    text-align: center;
}
footer hr {
    width: 83%;
    margin: auto;
    background-color: #9e8f8f;
    
}