* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: #ebd9a0;
}
/* ============================ SECTION HEADER =============================== */
header{
    background-color: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    position: sticky;
    top: 0;
    z-index: 10;
}

.logo img{
    width: 100px;
    height: 50px
}

.header-lien{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-lien a{
    margin-left: 50px;
    color: black;
    text-decoration: none;
    font-weight: bold;
}
.header-lien a:hover{
    color: #E65100;
    text-decoration: underline solid 2px #E65100;
    transition: 0.5s;
}
#head-panier a{
    color: white;
    background-color: #E65100;
    padding: 10px 20px;
    border-radius: 5px;
}
.connexion-btn , .incription-btn {
    padding: 10px 20px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
.incription-btn a{
    color: black;
    text-decoration: none;
}
.header-buttons button:hover{
    color: #ffffff;
    background-color: #E65100;
    transition: 0.5s;
}
.incription-btn:hover{
    transform: rotate(10deg);
}
.connexion-btn:hover{
    transform: rotate(-10deg);
}
/* ================================= SECTION PRESENTATION ======================= */
.presentation{
    background-image: url(image/banner-caterers.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.coul{
    background-color: #61290a;
    position: absolute;
    opacity: 0.7;
    height: 300px;
    mix-blend-mode: multiply;
    width: 100%;    
}

.ecriture-presention{
    color: #ffffff;
    position: relative;
    width: 50%;
    margin-left: 350px;
}

.presentation .ecriture-presention h2{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10px;
}
.presentation .ecriture-presention h2 span{
    color: #e6c400;
}
.presentation .ecriture-presention p{
    font-size: 18px;
    margin-bottom: 10px;
    text-align: left;
    z-index: 5;

}
.image-thieb{
    position: absolute;
    right: 100px;
    display: flex;
    text-align: center;
    flex-direction: column;
}

.image-thieb img{
    width: 450px;
    height: 300px;
    border-radius: 30px;

    
}
.image-thieb p{
    position: absolute;
    right: 15px;
    top: 18px;
    padding: 5px 10px;
    background-color: rgba(255, 255, 255, 0.6);
    color: #ca4b07;
    font-weight: bold;
    width: 250px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.image-thieb p img{
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

/* ========================= PRODUIT ======================= */

 .filtre{
    display: flex;
    align-items: center;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 5em;
    width: 70%;
}
.filtre-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.filtre h2{
    margin-right: 32%;
    font-weight: bold;
}
.filtre-item-1{
    display: flex;
}
.filtre-item-2{
    display: flex;
}
.filtre-item{
    margin-left: 1rem;
}



.filtre-item select{
    margin-top: 2px;
    color: #010208;
    background-color: white;
    padding: 8px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    border: #9e8f8f 2px solid;
    box-shadow: 5px 5px 30px rgb(0, 0, 0, 0.1);
}

.filtre-item .rei{
    margin-top: 2px;
    color: #010208;
    background-color: white;
    padding: 8px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    border: #9e8f8f 2px solid;
    box-shadow: 5px 5px 30px rgb(0, 0, 0, 0.1);
}
.filtre-item .fil{
    margin-top: 2px;
    color: white;
    background-color: #E65100;
    padding: 8px 12px;
    text-align: center;
    font-size: 18px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}


/* ============== CARDS DES PRODUITS */
.card-produit{
    display: flex;
    background-color: white;
    border-radius: 10px;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    height: 170px;
    width: 70%;
    box-shadow: 5px 5px 30px rgb(0, 0, 0, 0.1);
}
.gauche-pro{
    height: 170px;
    width: 30%;
    margin-right: 10px;
    position: relative;
}
.image-pro{
    height: 100%;
    width: 100%;
    margin-right: 10px;
}

.image-pro img{
    height: 100%;
    width: 100%;
    border-radius: 10px 0px 0px 10px;
}
.card-produit .pp1 p{
    position: absolute;
    top: 4%;
    left: 60%;
    color: rgb(2, 29, 2);
    background-color: rgb(146, 243, 146);
    padding: 8px 14px;
    border-radius: 10px
}

.haut-pro{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.haut-pro p , .param-pro p{
    margin-bottom: 10px;
}
.fin-card-1{
    margin-left: 26em;
}
.fin-card-1 i{
    color: #e6c400;
}
.param-pro {
    flex-direction: column;
}
.bas-pro{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    align-items: center;
}
.fin-card-2 button{
    padding: 10px 10px;
    background-color: #010208;
    color: #f3f3f3;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}
.Specialites{
    font-weight: bold;
}
.lang p{
    padding: 5px 10px;
    border-radius: 5px;
    opacity: 0.1;
}
.lang{
    background-color: #9e8f8f;
    
    padding: 5px 10px;
    border-radius: 5px;

}

/* =========================== SECTION COMMENCER ============================ */
.commence{
    height: 240px;
    background-image: url(image/banner-head-accueil.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
.commence h2{
    font-size: 30px;
    font-weight: bold;
    z-index: 5;
    position: relative;
}
.commence p{
    padding-bottom: 30px;
    z-index: 5;
    position: relative;
}
.commence button{
    padding: 20px 30px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    color: #ca4b07;
    font-weight: bold;
    z-index: 10;
    position: relative;
}
.coul-commence{
    background-color: #61290a;
    position: absolute;
    overflow: hidden;
    opacity: 1;
    mix-blend-mode: multiply;
    top: 0;
    left: 0;
    height: 240px;
    width: 100%;
    z-index: 1;
}
/* =========================== SECTION FOOTER ============================ */
footer{
    height: 370px;
    background-color: #020011;
    list-style: none;
}

footer .element {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px;
}
footer .element .footer-item span{
    color: #f3f3f3;
    font-size: 15px;
    font-weight: bold;
    padding-bottom: 20px;
}
footer .element .footer-item p{
    color: #f3f3f3;
    font-size: 15px;
    font-weight: bold;
    padding-bottom: 20px;
}
footer .element ul li a{
    color: #bdb68d;
    text-decoration: none;
    font-size: 15px;
}
footer .element ul li {
    color: #bdb68d;
    text-decoration: none;
    font-size: 18px;
    padding-top: 15px;
}
footer .icone {
    display: flex;
    font-size: 20px;
    margin-left: 73.5%;
    padding-bottom: 30px;
}
footer .icone ul li a i{
    color: #9e8f8f;
}
footer .copyright{
    color: #9e8f8f;
    text-align: center;
}
footer hr {
    width: 83%;
    margin: auto;
    background-color: #9e8f8f;
    
}














header input, header label{
    display: none;
} /*
/* ============= RESPONSIVITE ================ */
@media (min-width: 105px) and (max-width: 500px){

/* ============================ SECTION HEADER =============================== */
    header{
        padding: 10px;
        position: sticky;
        top: 0;
        z-index: 100;
    }
    header input{
        display: block;
        appearance: none;
    }

    header label{
        display: block;
        Cursor: pointer;
    }

    .logo img{
        width: 20vw;
        height: 8vh
    }
    .header-lien{
        display: none;
        position: absolute;
        transform: translate(-800px, 0);
        align-items: center;
        top: 3.5em;
        left: 0;
        right: 0;
        height: 100vh;
    }
    .header-buttons{
        display: none;
        align-items: center;
        position: absolute;
        transform: translate(-800px, 0);
        top: 20em;
        left: 0;
        right: 0;
    }
    header #chb:checked ~ nav .header-lien{
        display: block;
        transform: translate(0, 0);
        transition: all 0.5s ease;
        margin-bottom: 2em;
        background-color: #020011;
    }
    header #chb:checked ~ .header-buttons{
        display: block;
        transform: translate(0 , 0);
        transition: all 0.5s ease;
    }
    .header-lien a{
        display: block;
        margin-left: 50px;
        padding: 1em;
        color: white;
        text-decoration: none;
        font-weight: bold;
    }

/* ================================= SECTION PRESENTATION ======================= */
    .presentation{
        height: 80vh;
        padding-left: 1rem;
    }
    .coul{
        opacity: 0.7;
        height: 80vh;
        mix-blend-mode: multiply;
        width: 100%;    
    }

    .ecriture-presention{
        color: #ffffff;
        position: relative;
        width: 100%;
        margin: auto;
    }

    .presentation .ecriture-presention h2{
        font-size: 3em;
        margin-bottom: 1em;
    }

    .presentation .ecriture-presention p{
        font-size: 1.2em;
        color: #c9bfbf;

    }

    

    /* ========================= PRODUIT ======================= */
    .filtre{
        display: block;
        padding: 0px;
        border-radius: 10px;
        margin-left: 1rem;
        margin-right: 1rem;
        margin-top: 20px;
        margin-bottom: 5em;
        width: 90%;
    }
    .filtre-items{
        display: block;
    }
    .filtre h2{
        margin-bottom: 1rem;
        margin-right: 0%;
        font-weight: bold;
    }
    .filtre-item-1{
        display: block;
    }
    .filtre-item-2{
        display: flex;
    }
    
    .filtre-item{
        margin-left: 0rem;
        margin-bottom: 1rem;
    }

    .filtre-item select{
        width: 100%;
        padding: 0.8rem;
        text-align: left;
    }

    .filtre-item .rei{
        margin-top: 2px;
        margin-left: 1rem;
    }
    /* ============== CARDS DES PRODUITS */
    .card-produit{
        padding: 0px;
        display: grid;
        margin-left: auto;
        padding: 0px 5px;
        margin-right: auto;
        grid-template-columns: repeat(1, 1fr);
        height: 50vh;
        width: 90%;
        box-shadow: 5px 5px 30px rgb(0, 0, 0, 0.1);
    }
    .gauche-pro{
        height: 24vh;
        width: 100%;
        margin-bottom: 5px;
        margin-right: auto;
        position: relative;
    }
    .image-pro{
        height: 100%;
        width: 100%;
        margin-right: auto;
    }

    .image-pro img{
        height: 100%;
        width: 100%;
        border-radius: 10px 10px 0px 0px;
    }
    .card-produit .pp1 p{
        position: absolute;
        top: 4%;
        left: 60%;
        color: rgb(2, 29, 2);
        background-color: rgb(146, 243, 146);
        padding: 8px 14px;
        border-radius: 10px
    }

    .haut-pro{
        display: flex;
        justify-content: space-between;
        margin-top: 0px;
    }
    .haut-pro p , .param-pro p{
        margin-bottom: 10px;
    }
    .fin-card-1{
        margin-left: auto;
    }
    .fin-card-1 i{
        color: #e6c400;
    }
    .param-pro {
        flex-direction: column;
    }
    .bas-pro{
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
        align-items: center;
    }
    .fin-card-2 button{
        padding: 10px 10px;
        background-color: #010208;
        color: #f3f3f3;
        border: none;
        border-radius: 5px;
        cursor: pointer;

    }
    .Specialites{
        font-weight: bold;
    }
    .lang p{
        padding: 5px 10px;
        border-radius: 5px;
        opacity: 0.1;
    }
    .lang{
        background-color: #9e8f8f;
        
        padding: 5px 10px;
        border-radius: 5px;

    }

    /* =========================== SECTION COMMENCER ============================ */
    .commence{
        height: 240px;
        background-image: url(image/banner-head-accueil.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        text-align: center;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
    }
    .commence h2{
        font-size: 30px;
        font-weight: bold;
        z-index: 5;
        position: relative;
    }
    .commence p{
        padding-bottom: 30px;
        z-index: 5;
        position: relative;
    }
    .commence button{
        padding: 20px 30px;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        color: #ca4b07;
        font-weight: bold;
        z-index: 6;
        position: relative;
    }
    .coul-commence{
        background-color: #61290a;
        position: absolute;
        overflow: hidden;
        opacity: 1;
        mix-blend-mode: multiply;
        top: 0;
        left: 0;
        height: 240px;
        width: 100%;
        z-index: 1;
    }
/* =========================== SECTION FOOTER ============================ */
    footer{
        height: 100vh;
    }

    footer .element {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: space-around;
        align-items: center;
        padding: 40px;
    }
    footer .element ul{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0.5em;
        margin-bottom: 2em;
    }










}






