* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: #fcecb9;
}
/* ============================ SECTION HEADER =============================== */
header{
    background-color: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    position: sticky;
    top: 0;
    z-index: 10;
}

header input, header label{
    display: none;
} /* rendre le input et le label a none lorque l'on est sur pc */

.logo img{
    width: 100px;
    height: 50px
}

.header-lien{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-lien a{
    margin-left: 50px;
    color: black;
    text-decoration: none;
    font-weight: bold;
}
.header-lien a:hover{
    color: #E65100;
    text-decoration: underline solid 2px #E65100;
    transition: 0.5s;
}
.connexion-btn , .incription-btn{
    padding: 10px 20px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
.incription-btn a{
    color: black;
    text-decoration: none;
}
.header-buttons button:hover{
    color: #ffffff;
    background-color: #E65100;
    transition: 0.5s;
}
.incription-btn:hover{
    transform: rotate(10deg);
}
.connexion-btn:hover{
    transform: rotate(-10deg);
}









/* ================================= SECTION PRESENTATION ======================= */
.presentation{
    background-image: url(image/banner-head-accueil.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.coul{
    background-color: #61290a;
    position: absolute;
    opacity: 1;
    height: 500px;
    mix-blend-mode: multiply;
    width: 100%;    
}

.ecriture-presention{
    color: #ffffff;
    position: relative;
    width: 45%;
    margin-left: 100px;
}

.presentation .ecriture-presention h2{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10px;
}
.presentation .ecriture-presention h2 span{
    color: #e6c400;
}
.presentation .ecriture-presention p{
    font-size: 18px;
    margin-bottom: 10px;
    text-align: left;
    z-index: 5;

}
.image-thieb{
    position: absolute;
    right: 100px;
    display: flex;
    text-align: center;
    flex-direction: column;
}

.image-thieb img{
    width: 450px;
    height: 300px;
    border-radius: 30px;

    
}
.image-thieb p{
    position: absolute;
    right: 15px;
    top: 18px;
    padding: 5px 10px;
    background-color: rgba(255, 255, 255, 0.6);
    color: #ca4b07;
    font-weight: bold;
    width: 250px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.image-thieb p img{
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
/* ===================== SECTION FORCE =================== */
.block-force{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.block-force .card-force{
    padding: 20px 30px;
    background-color: white;
    border-radius: 8px;
    text-align: center;
    box-shadow: 5px 5px 30px rgb(0, 0, 0, 0.1);
}
.block-force .card-force span{
    color: #ca4b07;
    font-weight: bold;
    font-size: 20px;
}

/* ==================== SECTION SERVICE ===================== */
.service{
    background-color: white;
    height: 350px;
}
.service h2{
    font-size: 30px;
    font-weight: bold;
    padding-top: 50px;
    padding-bottom: 20px;
    text-align: center;
}
.service p{
    padding-bottom: 30px;
    text-align: center;
}
.service .card-service{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
.service .card-service .card-service-item{
    background-color: #FFF2C6;
    border-radius: 10px;
    padding: 20px 10px;
    width: 350px;
    margin-left: 10px;
    color: #ca4b07;
}

.service .card-service .card-service-item span{
    color: #ca4b07;
    font-weight: bold;
    font-size: 18px;
}
.service .card-service .card-service-item a, i{
    color: #ca4b07;
}

#deuxieme-card-service{
    background-color: #FEFBEA;
}

/* =========================== CARTE INTERACTIVE ============================ */
.carte-acceuil {
    padding-top: 60px;
    text-align: center;
    padding-bottom: 60px;
}
.carte-acceuil iframe{
    width: 700px;
    height: 250px;
    border-radius: 20px;
    box-shadow: 5px 5px 30px rgb(0, 0, 0, 0.1);


}
/* =========================== TEMOIGNAGE ============================ */
.temoignage{
    background-color: #fff4f4;
    padding-top: 60px;
    padding-bottom: 60px
}
.temoignage h2{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 20px;
}
.card-temoignage{
    display: flex;
    justify-content: center;
}
.card-temoignage .card-temoignage-item{
    background-color: #f8f8f5;
    border-radius: 10px;
    padding: 20px 10px;
    width: 300px;
    margin-left: 10px;
    box-shadow: 5px 5px 30px rgb(0, 0, 0, 0.1);;
}
.card-temoignage .card-temoignage-item .logo-nom-note{
    display: flex;
    gap: 8px;
    align-items: center;
    padding-bottom: 20px;
}
.card-temoignage .card-temoignage-item .logo-nom-note .nom-note i{
    color: #f1af1f;
}
.card-temoignage .card-temoignage-item .logo-nom-note .nom-note #vide{
    color: #b6af9f;
}
#temoi-1 h1{
    background-color: #9e8f8f;
    padding: 10px;
    font-size: 15px;
    border-radius: 50%;
    border: #e6c400 2px solid;
}
#temoi-2 h1{
    background-color: #e60b0b;
    padding: 10px;
    font-size: 15px;
    border-radius: 50%;
    border: #e6c400 2px solid;
}
#temoi-3 h1{
    background-color: #f19113;
    padding: 10px;
    font-size: 15px;
    border-radius: 50%;
    border: #e6c400 2px solid;
}
#temoi-4 h1{
    background-color: #0f5800;
    padding: 10px;
    font-size: 15px;
    border-radius: 50%;
    border: #e6c400 2px solid;
}
/* =========================== SECTION COMMENCER ============================ */
.commence{
    height: 240px;
    background-image: url(image/banner-head-accueil.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
.commence h2{
    font-size: 30px;
    font-weight: bold;
    z-index: 5;
    position: relative;
}
.commence p{
    padding-bottom: 30px;
    z-index: 5;
    position: relative;
}
.commence button{
    padding: 20px 30px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    color: #ca4b07;
    font-weight: bold;
    z-index: 10;
    position: relative;
}
.coul-commence{
    background-color: #61290a;
    position: absolute;
    overflow: hidden;
    opacity: 1;
    mix-blend-mode: multiply;
    top: 0;
    left: 0;
    height: 240px;
    width: 100%;
    z-index: 1;
}
/* =========================== SECTION FOOTER ============================ */
footer{
    height: 370px;
    background-color: #020011;
    list-style: none;
}

footer .element {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px;
}
footer .element .footer-item span{
    color: #f3f3f3;
    font-size: 15px;
    font-weight: bold;
    padding-bottom: 20px;
}
footer .element .footer-item p{
    color: #f3f3f3;
    font-size: 15px;
    font-weight: bold;
    padding-bottom: 20px;
}
footer .element ul li a{
    color: #bdb68d;
    text-decoration: none;
    font-size: 15px;
}
footer .element ul li {
    color: #bdb68d;
    text-decoration: none;
    font-size: 18px;
    padding-top: 15px;
}
footer .icone {
    display: flex;
    font-size: 20px;
    margin-left: 73.5%;
    padding-bottom: 30px;
}
footer .icone ul li a i{
    color: #9e8f8f;
}
footer .copyright{
    color: #9e8f8f;
    text-align: center;
}
footer hr {
    width: 83%;
    margin: auto;
    background-color: #9e8f8f;
    
}

/* ============= RESPONSIVITE ================ */
@media (min-width: 105px) and (max-width: 768px){

/* ============================ SECTION HEADER =============================== */
    header{
        padding: 10px;
        position: sticky;
        top: 0;
        z-index: 100;
    }
    header input{
        display: block;
        appearance: none;
    }

    header label{
        display: block;
        Cursor: pointer;
    }

    .logo img{
        width: 20vw;
        height: 8vh;
    }
    .header-lien{
        display: none;
        position: absolute;
        transform: translate(-800px, 0);
        align-items: center;
        top: 3.5em;
        left: 0;
        right: 0;
        height: 100vh;
    }
    .header-buttons{
        display: none;
        align-items: center;
        position: absolute;
        transform: translate(-800px, 0);
        top: 20em;
        left: 0;
        right: 0;
    }
    header #chb:checked ~ nav .header-lien{
        display: block;
        transform: translate(0, 0);
        transition: all 0.5s ease;
        margin-bottom: 2em;
        background-color: #020011;
    }
    header #chb:checked ~ .header-buttons{
        display: block;
        transform: translate(0 , 0);
        transition: all 0.5s ease;
    }
    .header-lien a{
        display: block;
        margin-left: 50px;
        padding: 1em;
        color: white;
        text-decoration: none;
        font-weight: bold;
    }
/* ================================= SECTION PRESENTATION ======================= */
    .presentation{
        height: 80vh;
        display: block;
        justify-content: center;
    }
    .coul{
        height: 80vh;
        width: 100%;    
    }
    .ecriture-presention{
        width: 100%;
        margin: auto;
        text-align: center;
    }

    .presentation .ecriture-presention h2{
        font-size: 2.3em;
    }
    .presentation .ecriture-presention h2 span{
        color: #e6c400;
    }
    .presentation .ecriture-presention p{
        font-size: 1.5em;
        margin-bottom: 10px;
        text-align: center;

    }
    .image-thieb{
        right: auto;
        width: 100%;
        height: 100%;
        text-align: center;
        text-align: center;
        flex-direction: column;
    }

    .image-thieb img{
        width: 80vw;
        height: 30vh;
        border-radius: 30px;

        
    }
/* ===================== SECTION FORCE =================== */
    .block-force{
        height: 20vh;
        margin-top: 2em;
        margin-bottom: 2em;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0.5em;
        font-size: 1.2em;
    }
    .block-force .card-force{
        padding: 4px 0px;
        border-radius: 8px;
    }

/* ==================== SECTION SERVICE ===================== */
    .service{
        background-color: white;
        height: 75vh;
        margin-top: 2em;
        margin-bottom: 2em;
    }
    .service p{
        padding-bottom: 30px;
        text-align: center;
    }
    .service .card-service{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
        gap: 8px;
    }
/* =========================== CARTE INTERACTIVE ============================ */
    .carte-acceuil {
        height: 50vh;
        padding-top: 1em;
    }
    .carte-acceuil iframe{
        width: 100%;
        height: 100%;
        border-radius: 1em;
        box-shadow: 5px 5px 30px rgb(0, 0, 0, 0.1);
    }
/* =========================== TEMOIGNAGE ============================ */
    .temoignage{
        width: 100%;
    }
    .temoignage h2{
        font-size: 1.5em;
    }
    .card-temoignage{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 0.5em;
    }
    .card-temoignage .card-temoignage-item{
        border-radius: 10px;
        padding: 20px 20px;
        width: 97%;
    }
/* =========================== SECTION COMMENCER ============================ */
    .commence{
        height: 30vh;
    }
    .coul-commence{
        height: 100%;
    }
    /* =========================== SECTION FOOTER ============================ */
    footer{
        height: 90vh;
    }

    footer .element {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: space-around;
        align-items: center;
        padding: 40px;
    }
    footer .element ul{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0.5em;
        margin-bottom: 2em;
    }
}