{% extends 'base/base.html' %}
{% load static %}

{% block title %}Connexion{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/connexion.css' %}">
{% endblock %}

{% block content %}

    <!-- ========================== SECTION CONNEXION ============================ -->
    <section>
        <div class="connexion">
            <h2>Connexion</h2>
            <form action="" method="post">
                {% csrf_token %}
                {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                            <li class="{{ message.tags }}">{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <label for="email">Email</label><br>
                <input class="input1" type="email" name="email" id="email" required><br>
                <label for="password">Mot de passe</label><br>
                <input class="input1" type="password" name="password" id="password" required><br>
                <div class="autres">
                    <div class="aut-g">
                        <input type="checkbox" name="souvenir" id="souvenir">
                        <label for="souvenir">Souvenir</label>
                    </div>
                    <div class="aut-d">
                        <p><a href="#">Mot de passe oublie ?</a></p>
                    </div>
                </div>
                <p class="pas-enc">Pas encore de compte ? <a href="{% url 'inscription' %}">Inscrivez vous</a></p>
                <button type="submit">Se connecter</button>
            </form>
        </div>
    </section>
{% endblock %}