{% load static %}

     <footer>
        <div class="element">
            <div class="footer-item">
                <span>A propos</span>
                <ul>
                    <li><a href="#">Qui sommes-nous</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">Mentions legales</a></li>
                    <li><a href="#">Politique de confidentalite</a></li>
                </ul>
            </div>
            <div class="footer-item">
                <span>Services</span>
                <ul>
                    <li><a href="#">Traiteurs</a></li>
                    <li><a href="#">Restaurants</a></li>
                    <li><a href="#">Cours de cuisine</a></li>
                </ul>
            </div>
            <div class="footer-item">
                <span>Espace Pro</span>
                <ul>
                    <li><a href="#">Devenir partenaire</a></li>
                    <li><a href="#">Conexion</a></li>
                    <li><a href="#">FAQ Professionnels</a></li>
                </ul>
            </div>
            <div class="footer-item">
                <span>Contact</span>
                <ul>
                    <li>Star Buffet</li>
                    <li>Dakar, Senegal</li>
                    <li>Tel: +221 77 000 00 00</li>
                    <li>Email: contact@startbuff.com</li>
                </ul>
            </div>
        </div>
        <div class="icone">
            <ul>
                <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
            </ul>
            <ul>

                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
            </ul>
        </div>
        <hr> <br>
        <div class="copyright">
            <p>
                &copy; 2026 Star Buffet. Tous droits réservés.
            </p>
        </div>
     </footer>
</body>
</html>