{% extends 'base/base.html' %}
{% load static %}

{% block title %}Traiteur{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/liste.css' %}">
{% endblock %}

{% block content %}

<section class="liste-detail">
    {% for traiteur in traiteurs %}
    <div class="card-list">
        <div class="image-liste">
            <img src="{% static 'media/salade.jpeg'%}" alt="image-salade">
        </div>
        <div class="info-liste">
            <h3>{{ traiteur.nomcomplet }} - {{ traiteur.specialites }}</h3>
            <button>Voir le profil</button><br><br><br>
        </div>
    </div>
    {% endfor %}
</section>

{% endblock %}