{% extends 'base/base.html' %}
{% load static %}

{% block title %}Traiteur{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/traiteur.css' %}">
{% endblock %}

{% block content %}
    <!-- ======================= SECTION PRESENTATION ======================== -->
    <section>
        <div class="coul"></div>
        <div class="presentation"> 
            <div class="ecriture-presention">
                <h2>
                    Nos Traiteurs
                </h2>
                <p>Decouvrez nos traiteur Professionnels pour vos evenements, mariage, bapteme et reception.
                </p>
            </div>
        </div>
    </section>

    <!-- ======================= SECTION PRODUIT ======================== -->

    <section>
        <div class="filtre">
            <h2> Filtres </h2>
            <div class="filtre-items">
                <div class="filtre-item-1">
                    <div class="filtre-item">
                        <p class="item">Specialite</p>
                        <select name="specialites" id="specialite" multiple>
                            {% for sp in specialites %}
                            <option value="{{ sp.id }}">{{ sp.specialite }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="filtre-item">
                        <p class="item">Service</p>
                        <select name="services" id="services" multiple>
                            {% for svc in services %}
                            <option value="{{ svc.id }}">{{ svc.Service }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="filtre-item-2">
                    <div class="filtre-item">
                        <br>
                        <button class="fil"><i class="fa-solid fa-filter"></i> Filtrer</button>
                    </div>
                    <div class="filtre-item">
                        <br>
                        <button class="rei"><i class="fa-solid fa-arrows-rotate"></i> Reinitialise</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- CARDE DES PRODUITS -->
         {% for traiteur in traiteurs %}
        <div class="card-produit">
            <div class="gauche-pro">
                <div class="image-pro">
                    <img src="{{ traiteur.image.url }}" alt="image-salade">
                </div>
                <div class="pp1">
                    <p><i class="fa-solid fa-circle-check"></i>Verifier</p>
                </div>
            </div>
            <div class="droite-pro">
                <div class="haut-pro">
                    <p><i class="fa-solid fa-circle"></i>{{ traiteur.annee_experience }} ans d'experience</p>
                    <p class="fin-card-1"><i class="fa-solid fa-star"></i> 0.0</p>
                </div>
                <div class="param-pro">
                    <p>{{ traiteur.description }}</p>
                    <p class="Specialites">Specialites: </p>
                    {% for s in traiteur.Specialite.all %}
                        <span class="lang">{{ s.specialite }}</span>
                    {% endfor %}
                </div>
                <div class="bas-pro">
                    <p><i class="fa-solid fa-phone"></i>{{ traiteur.telephone }}</p>
                    <p class="fin-card-2"><a href="{% url 'detail' traiteur.id %}"><button> Voir le profil </button></a></p>
                </div>
            </div> 
        </div>
        {% endfor %}
    </section>


    <!-- =========================== SECTION COMMENCER ============================ -->
    <section>
        <div class="commence">
            <div class="coul-commence"></div>
            <h2>Vous etes traiteur ?</h2><br>
            <p>Rejoignez notre reseau et developpez votre activite evenementille !</p>
            <button>
                Devenir traiteur
            </button>
        </div>
    </section>
{% endblock %}